[submodule "web/odin-project/foundations/002_project_recipes"]
	path = web/odin-project/foundations/002_project_recipes
	url = https://github.com/nyxenn/odin_recipes
[submodule "web/odin-project/foundations/006_project_landing_page"]
	path = web/odin-project/foundations/006_project_landing_page
	url = https://github.com/nyxenn/odin_landing_page
[submodule "web/odin-project/foundations/007_project_rock_paper_scissors"]
	path = web/odin-project/foundations/007_project_rock_paper_scissors
	url = https://github.com/nyxenn/odin_rock_paper_scissors
[submodule "web/odin-project/foundations/009_project_etch_a_sketch"]
	path = web/odin-project/foundations/009_project_etch_a_sketch
	url = https://github.com/nyxenn/odin_etch_a_sketch
[submodule "web/odin-project/foundations/010_project_calculator"]
	path = web/odin-project/foundations/010_project_calculator
	url = https://github.com/nyxenn/odin_calculator
[submodule "game_dev/brackeys_first_game"]
	path = game_dev/brackeys_first_game
	url = https://github.com/nyxennrepos/brackeys_first_game
[submodule "web/0_to_prod_t3gg"]
	path = web/0_to_prod_t3gg
	url = https://github.com/nyxenn/t3gallery
[submodule "backend/boot_dev/bookbot"]
	path = backend/boot_dev/bookbot
	url = https://github.com/nyxenn/bookbot
